---
import learnify from "../assets/learnify.png?url";
import NavLinks from "./navlinks.astro";
---

<div class="flex items-center justify-between dent">
  <figure class="m-0">
    <img
      src={learnify}
      class="max-w-[123px] max-h-[45px]"
      alt="Learnify logo"
    />
  </figure>
  <div class="flex items-center justify-end gap-4">
    <NavLinks class="space-x-3 hidden md:inline-block" />
    <div
      class="size-[45px] rounded-full bg-primary text-2xl flex items-center justify-center font-bold text-black"
    >
      JD
    </div>
  </div>
</div>
<NavLinks class="md:hidden flex justify-evenly items-center mt-4 -mb-6 dent" />
<script is:inline>
  const indexRegex = /\/index\.html$/;
  const pagePathName = location.pathname.replace(indexRegex, "");
  document.querySelectorAll("a.nav-link").forEach((link) => {
    const linkPathName = new URL(link.href).pathname.replace(indexRegex, "");
    if(linkPathName === pagePathName) {
      link.classList.remove("text-white");
      link.classList.add("text-primary");
    }
  });
</script>
