---
type Props = Omit<astroHTML.JSX.AnchorHTMLAttributes, "class"> & {
    href: string;
};
const props = Astro.props;
---
<a {...props} class="font-medium text-white hover:text-primary no-underline hover:underline hover:underline-offset-2 nav-link">
    <slot/>
</a>